<!doctype html>
<html>
<head>
    <title>Voting app - List</title>

    <script src="/socket.io/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
    <script type="text/javascript" charset="utf-8">

    jQuery(document).ready(function(){
        var log_chat_message = function(message){
            var li = jQuery('<li />').text(message);
            jQuery('#chat_log').append(li);
        }

        var socket = io.connect('http://localhost:8080');//cambiar puerto

        socket.on('exit', function  (data) {
            log_chat_message(data.message);
        });
        
        socket.on('outcoming_vote', function  (data) {

            log_chat_message(data.message);
            jQuery("#result_a").text(data.a);
            jQuery("#result_b").text(data.b);
        });

        jQuery("#vote_A").click(function(event){
            socket.emit('incoming_vote', {option: "a", id: "<%= id %>"});
        });
        jQuery("#vote_B").click(function(event){
            socket.emit('incoming_vote', {option: "b", id: "<%= id %>"});
        });
    });
    </script>

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>

.well {
  min-height: 80px;
}
.well a{
    width: 180px;
}

.voting_panel {
    position: relative;
    margin-bottom: 1em;
    padding: 1em;
    width: 50%;
    border: 1px solid black;
    float: left;
}

.voting_panel .btn {
    margin: 0 auto;
    display: block;
    float: none;
    width: 150px;
    height: 150px;
    background: orange;
    font-size: 3em;
}

.voting_panel .result{
    position: absolute;
    right: 10px;
    top: 1em;
    font-size: 6.5em;
}


.btn{
    width: 120px;
    float: right;
    margin-left: .5em;
    margin-top: .5em;
}
#btn_vote{
    float: left;
    width: 200px;
}

hr.clear{
    margin-top: 2em;
    clear: both;
    border: 0;
}
#footer {
  
  background-color: #f5f5f5;
  height: 5em;
}
#footer p{
    padding-top: 1em;
    text-align: center;
}


</style>


</head>
<body>
<div class="container">

   <div class="row">
        <p>Bienvenido <%= user.local.email %></p>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>

    <div class="page-header text-center">
        <h1><span class="fa fa-plus-square"></span> VOTACION</h1>
    </div>


    <div class="row">

        <div class="col-sm-12">
            <div class="well">
                <a href='/voting_list'  class="btn btn-default btn-sm">VER VOTACIONES</a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <h3><%= title %></h3>
            <p><%= comment %></p>
        </div>
    </div>
    <div class="row">
        <div>
            <div class="voting_panel">
                <h4>Opción A</h4>
                <p class="result" id="result_a"><%= result_a %></p>
                <button class="btn" id="vote_A">Vote</button>
            </div>
            <div class="voting_panel">
                <h4>Opción B</h4>
                <p class="result" id="result_b"><%= result_b %></p>
                <button class="btn" id="vote_B">Vote</button>
            </div>
        </div>
    </div>

    <div class="row">
        <div id="footer"><p>VOTAPP</p></div>
    </div>
</div>
</body>
</html>