<!doctype html>
<html>
<head>
    <title>Voting app - List</title>


    <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">

     <style>

.well {
  min-height: 80px;
}
.well a{
    width: 180px;
}
.well p{
    width: 300px;
    float: left;
    color: red;
}


.voting_panel {
    position: relative;
    margin-bottom: 1em;
    padding: 1em;
    width: 50%;
    border: 1px solid black;
    float: left;
}

.voting_panel .result{
    font-size: 6.5em;
}


.btn{
    width: 120px;
    float: right;
    margin-left: .5em;
    margin-top: .5em;
}
#btn_vote{
    float: left;
    width: 200px;
}

hr.clear{
    margin-top: 2em;
    clear: both;
    border: 0;
}
#footer {
  
  background-color: #f5f5f5;
  height: 5em;
}
#footer p{
    padding-top: 1em;
    text-align: center;
}


</style>


</head>
<body>
<div class="container">

   <div class="row">
        <p>Bienvenido <%= user.local.email %></p>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>

    <div class="page-header text-center">
        <h1><span class="fa fa-plus-square"></span> VOTACION</h1>
    </div>

    <div class="row">

        <div class="col-sm-12">
            <div class="well">
                <p>Esta votación está cerrada</p>
                <a href='/voting_list' class="btn btn-default btn-sm">VER VOTACIONES</a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <h3><%= title %></h3>
            <p><%= comment %></p>
        </div>
    </div>

    <div class="row">
        <div>
            <div class="voting_panel">
                <h4><%= optionA %></h4>
                <p class="result" id="result_a"><%= result_a %></p>
            </div>
            <div class="voting_panel">
                <h4><%= optionB %></h4>
                <p class="result" id="result_b"><%= result_b %></p>
            </div>
        </div>
    </div>

    <div class="row">
        <div id="footer"><p>VOTAPP</p></div>
    </div>

</div>
</body>
</html>